<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Making An Order</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Contents/bootstrap-datepicker.min.css" rel="stylesheet" />
</head>
<body>
    <div id="app-navbar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Making An Order", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <form class="navbar-form navbar-right">
                <button type="button" class="btn btn-success" data-bind="click: AppNavbar.openOrderHistory">Order History</button>
            </form>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Making An Order</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>

    <script src="~/Scripts/polyfills.js"></script>

    <script src="~/Scripts/app/services/toastr-service.js"></script>
    <script src="~/Scripts/app/services/ajax-service.js"></script>
    <script src="~/Scripts/app/services/modal-service.js"></script>

    <script src="~/Scripts/app/app-navbar.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
