<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Making An Order</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Contents/bootstrap-datepicker.min.css" rel="stylesheet" />
</head>
<body>
    @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap", "~/bundles/bootstrap-plugins")


    <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/libraries")

    @Scripts.Render("~/bundles/polyfills")

    @Scripts.Render("~/bundles/app-services", "~/bundles/app-general")

    @RenderSection("scripts", required: false)

    <div id="app-navbar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Making An Order", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <form class="navbar-form navbar-right">
                <button type="button" class="btn btn-success" data-bind="click: AppNavbar.openOrderHistory">Order History</button>
            </form>
        </div>
    </div>

    <script>
        AppNavbar.initialize();
    </script>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Making An Order</p>
        </footer>
    </div>
</body>
</html>
