@{
    ViewBag.Title = "Home Page";
}

<hr />

<div class="jumbotron">
    <h1>Making An Order</h1>
    <p class="lead">This is my test project according to the second self-education plan.</p>
    <p><a href="http://jira/confluence/display/HT/Yurii+Nosach" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<hr />

<div id="main-grid" class="row">
    @Html.Partial("_Products")
    @Html.Partial("_MakeOrder")
    <script>
        MainPage.initialize();
    </script>
</div>

@Html.Partial("_ProductCreateModal")
@Html.Partial("_PurchaseModal")
@Html.Partial("_OrderHistoryModal")

@section Scripts {
    @Scripts.Render("~/bundles/app-pages")

    <script>
        var products = @Html.Raw(ViewBag.JsonModel.ToString());

        for (var i in products) {
            MainPage.viewModel.productsList.push(new MainPage.ProductVM(products[i]));
        }
    </script>
}